$theme-colors: ("indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan);

// 引数の1つ目と2つ目にマージしたいマップを指定
$theme-colors: map-merge(('twitter': #53A7E8,
    'elgana': #e83929,
    'elgana-light': #fcf7e6,
    'facebook': #4064AD,
    'tiktok': #F6305D), $theme-colors);

// テキストカラーを黒系にするか白系にするかを決める境界値
$yiq-contrasted-threshold: 160;
